<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!--        //search for spring 6 bean configuration-->

    <!--    <bean id="Bhanu2" class="org.example.Bhanu" scope="prototype"> </bean>-->
    <!--    <bean id="Bhanu1" class="org.example.Bhanu" scope="singleton">-->
    <!--        <property name="age" value="24"></property>-->
    <!--        <constructor-arg value="21"/>-->
    <!--        <constructor-arg ref="prakash"/>-->
    <!--        <constructor-arg type="int" value="21"/>-->
    <!--        <constructor-arg type="org.example.Prakash"/>-->
    <!--        <constructor-arg index="0" value="21"/>-->
    <!--        <constructor-arg index ="1" value="prakash"/>-->

    <!--        <constructor-arg name ="age" value="21"/>-->
    <!--        <constructor-arg name="prakash" ref="prakash"/>-->
    <!--use @constructorProperties in Bhanu class corresponding method as ConstructorProperties({"age","prakash"})-->

    <!--    </bean>-->
    <!--    <bean>-->
    <!--        <property name="prakash" value="Prakash"></property>-->
    <!--    </bean>-->


    <!--    <bean id="Prakash" class="org.example.Prakash"></bean>-->

    <!--	<bean id="alien1" class="com.telusko.Alien" scope="singleton">  -->

    <bean id="Bhanu" class="org.example.Bhanu" autowire="byType">
        <property name="age" value="21"></property >
<!--        <property name="comp" ref="lap1"></property>-->
<!--        <constructor-arg  name="age" value="21"></constructor-arg>-->
<!--                <constructor-arg name="comp" ref="lap1"></constructor-arg>-->


        <!--		<constructor-arg type="com.telusko.Laptop" ref="lap1"/>
                <constructor-arg type="int" value="21"/> -->

        <!--		<constructor-arg index="1" ref="lap1"/>
                <constructor-arg index="0" value="21"/> -->

<!--        <constructor-arg name="lap" ref="lap1"/>-->
<!--        <constructor-arg name="age" value="21"/>-->

    </bean>
    <bean id="comp" class="org.example.Laptop" primary="true">
    </bean>

    <bean id="lap1" class="org.example.Desktop" lazy-init="true" >
    </bean>


</beans>